.components{
    display: flex;
    justify-content: center;    
    font:bold;
    margin:auto;
}

h1{
    align-items: center;
}

.inner-section{
    border: 1px solid black;
}

.fishdiv{
    display: flex;
    justify-content: flex-start;
    
}

.fishSize{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75px;

}

ul
{
    list-style-type:none;
    padding:0px;
    margin: 2px;
}